body {background-color: rgb(136, 241, 255);}
h1 {background-color: rgb(136, 255, 186);}
h2 {background-color: rgb(136, 255, 136);}
p {background-color: rgb(136, 255, 239);}
#copywrite {background-color: rgb(59, 193, 255);}